psycopg2>=2.5.0
hgapi
blessings
genshi
bcrypt
path.py
python-sql>=0.8
polib
relatorio
PyWebDAV
fabric
paramiko>=1.16.0
Pillow
barcodenumber
pybarcode
chardet
easyimap
retrofix==0.20
slug
python-creole
feedparser
pyusb>=1.0.0b1
pyserial
python-stdnum
pyaml>=13.12.0
asm==0.0.3
correos
seur
seurvalencia==0.0.3
simpleeval
envialia
mrw==0.0.3
magento
pystashop
whoosh
cached-property
python-magic
jsonrpclib
emailvalid
PyPDF2
html2text
werkzeug
wrapt
dateutils
paypalrestsdk
iso8601
vobject
py-wikimarkup
jinja2
unicodecsv
