barcodenumber
# bcrypt
cached-property
# cdecimal
emailvalid
Genshi
jinja2
ldap3
lxml>=2.0
polib
# psycopg2cffi
pydot
PyPDF2
PySimpleSOAP
python-dateutil
python-Levenshtein
python-stdnum
python-sql>=0.4
pytz
relatorio>=0.2.0
retrofix
simpleeval
# unoconv
vobject
werkzeug==0.14.1
wrapt
