barcodenumber
bcrypt
cached-property
# cdecimal
emailvalid
Genshi
jinja2
ldap3
lxml>=2.0
polib
# psycopg2cffi
psycopg2
pydot
PyPDF2
PySimpleSOAP
python-dateutil
python-Levenshtein
python-stdnum
python-sql>=0.9
pytz
retrofix
simpleeval
# unoconv
vobject
werkzeug
wrapt
stripe
html2text
ipaddress

# relatorio
relatorio[fodt]>=0.7.0
python-magic
pycha>=0.4.0
pyyaml

# ldap_authentication
ldap3>=2.5.1

# account_payment_gateway_paypal
iso8601

# unitest
mock
